body {
    font-family: Georgia, sans-serif;
    font-size: larger;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff
}

header {
    font-family: 'Times New Roman', Times, serif;
    background-color: #c5a985;
    color: #503b1f;
    padding: 1rem;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    color: #503b1f;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #555;
}

img {
    float: left;
    width: 155px;
    padding: 25px;

}

.modelk{
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #a78a64;
    padding: 10px;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

h1 {

    font-size: 55px;
    font-weight: bold;
    font-family: Georgia, sans-serif;
}
 
h2 {
    font-size: 55px;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    text-align: center;
    background-color: #ad987d;
}

.dados {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #ad987d;
    border-style: outset;
    border-color: #382000;
}

.insta {
    font-size: 24px;
    font-family:ğ’œğ“€ğ“ğ’¾ğ’¹ğ‘’ğ“ƒğ“ ğ’¢ğ“‡ğ‘œğ“‰ğ‘’ğ“ˆğ“€;
}